.container{
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    height: fit-content;
    min-height: 100%;
    width: 100%;
    background-color: #ffffff;
}

@media (max-width: 990px){
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr!important;
    row-gap: 40px;
    margin-top: 50px;
    margin-bottom: 20px
  }
}

@media (max-width: 850px){
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr!important;
    row-gap: 40px;
    margin-top: 50px;
    margin-bottom: 20px
  }
}

@media (max-width: 580px){
  .grid {
    display: grid;
    grid-template-columns: 1fr!important;
    row-gap: 40px;
    margin-top: 50px;
    margin-bottom: 20px
  }
}

.title{
    color: #6b6f82;
}

.filters{
    height: 50%;
    border: 1px solid;
}

.paginator{
  width: 100%;
  padding-bottom: 20px;
  padding-right: 15px;
  color: purple;
}

.page-link{
  color: purple;
  cursor: pointer;
}

.section-pagetop {
  padding: 35px 0;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    margin-bottom: 20px
  }

  footer {
    bottom: 0px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    padding-bottom: 30px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.social{
  font-size: 40px;
  display: flex;
  flex-direction: row;
}

.social a{
  color: rgb(168 37 139);
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

