<div class="card">
    <div class="card-body">
      <h3 class="card-title">Филтри</h3>
      <h4 class="text-muted">Цена: </h4>
      <mat-checkbox>Под 500 денари</mat-checkbox><br>
      <mat-checkbox>500ден. - 1000ден.</mat-checkbox><br>
      <mat-checkbox>1000ден. - 1500ден.</mat-checkbox><br>
      <mat-checkbox>Над 1500 денари</mat-checkbox><br>
      <hr>
      <h4>Боја:</h4>
      <mat-checkbox>Бела</mat-checkbox><br>
      <mat-checkbox>Црвена</mat-checkbox><br>
      <mat-checkbox>Жолта</mat-checkbox><br>
      <mat-checkbox>Зелена</mat-checkbox><br>
      <mat-checkbox>Розева</mat-checkbox><br>
      <mat-checkbox>Лилава</mat-checkbox><br>
      <mat-checkbox>Разновидно</mat-checkbox><br>
      <a class="btn btn-primary btn-sm">Филтрирај</a>
    </div>
  </div>