<div class="filter-card">
    <div class="card-body">

      <h3 class="card-title">Филтри</h3>

      <mat-form-field style="width:100%" appearance="fill">
        <mat-label>Сортирај</mat-label>
        <mat-select id="sort" [(value)]="selectedSort" panelClass="matRole">
          <mat-option value="asc">Цена ниско > високо</mat-option>
          <mat-option value="des">Цена високо > ниско</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <hr> -->

      <!-- <h6 class="text-muted">Цена: </h6>
      <mat-checkbox [color]="color">
          Под 500
      </mat-checkbox><br>
      <mat-checkbox [color]="color">
        500 - 1000
      </mat-checkbox><br>
      <mat-checkbox [color]="color">
        Над 1000
       </mat-checkbox> -->

       <mat-form-field style="width:100%" appearance="fill">
        <mat-label>Цена</mat-label>
        <mat-select id="price" [(value)]="selectedPrice" panelClass="matRole">
          <mat-option value="500">Под 500</mat-option>
          <mat-option value="1000">500 - 1000</mat-option>
          <mat-option value="1500">Над 1000</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <hr> -->

      <!-- <h6 class="text-muted">Пригода:</h6>
      <mat-checkbox [color]="color">
        Свадба
      </mat-checkbox><br>
      <mat-checkbox [color]="color">
        Роденден
      </mat-checkbox><br>
      <mat-checkbox [color]="color">
        Веридба
      </mat-checkbox><br>
      <mat-checkbox [color]="color">
        Слава
      </mat-checkbox><br> -->

      <mat-form-field style="width:100%" appearance="fill">
        <mat-label>Пригода</mat-label>
        <mat-select id="occasion" [(value)]="selectedOccasion" panelClass="matRole">
          <mat-option value="Svadba">Свадба</mat-option>
          <mat-option value="Rodenden">Роденден</mat-option>
          <mat-option value="Veridba">Веридба</mat-option>
          <mat-option value="Slava">Слава</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <hr> -->

      <!-- <h6 class="text-muted">Боја:</h6>
      <mat-checkbox [color]="color">
        Црвена
      </mat-checkbox><br>
      <mat-checkbox [color]="color">
        Жолта
      </mat-checkbox><br>
      <mat-checkbox [color]="color">
        Зелена
      </mat-checkbox><br>
      <mat-checkbox [color]="color">
        Виолетова
      </mat-checkbox><br>
      <mat-checkbox [color]="color">
        Плава
      </mat-checkbox><br> -->

      <mat-form-field style="width:100%" appearance="fill">
        <mat-label>Бoja</mat-label>
        <mat-select id="color" [(value)]="selectedColor" panelClass="matRole">
          <mat-option value="Crvena">Црвена</mat-option>
          <mat-option value="Zolta">Жолта</mat-option>
          <mat-option value="Zelena">Зелена</mat-option>
          <mat-option value="Plava">Плава</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <hr> -->

      <a class="btn btn-primary btn-sm" (click)="filterProducts()">Филтрирај</a>
    </div>
  </div>