.fld {
  display: flex;
  justify-content: space-between;
}

.mat-icon {
  height: 38px;
}

.searchbox {
  width: 180px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  transition: all 0.2s ease-in-out 0s;
  box-shadow: 0 0px 5px 1px rgb(226, 222, 252);
  outline: none;
}

input{
  border: none;
}

.searchbox:focus{
  border: 1px solid transparent;
}

.left {
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
}

.right {
  display: flex;
  justify-content: flex-end;
}
