<div class="toolbar" role="banner">
  <div class="minitoolbar"></div>
  <img
    width="200"
    alt="Angular Logo"
    src="assets/LOGOweb.png" 
    [routerLink]="'/home'"
    style="cursor: pointer;" />

    <div class="spacer"></div>
    
    <span class="menu-spacer"></span>
    <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="links">
      <a class="nav-link" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/products']" [queryParams]="{c: 'flowers'}"> ЦВЕЌИЊА <div class ="ac-brdr"></div></a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/products'" [queryParams]="{c: 'bouquets'}"> БУКЕТИ </a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/products'" [queryParams]="{c: 'ikebana'}"> ИКЕБАНИ </a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/products'" [queryParams]="{c: 'decorations'}"> ДЕКОРАЦИЈА ЗА СВАДБИ </a>
    </div>

    <app-searchbox></app-searchbox>

    <div class="buttons">
      <mat-icon [routerLink]="'/shoppingcart'"  [ngStyle]="{'color':'rgb(74 59 178)'}">shopping_cart</mat-icon>
      <p class="cartNumber">0</p>
      <!-- <mat-icon  [ngStyle]="{'color':'rgb(168 37 139)'}">facebook</mat-icon> -->
    </div>
      
</div>

<div class="content" role="main" [@fadeAnimation]="o.isActivated ? o.activatedRoute : '' ">

  <router-outlet #o="outlet"></router-outlet>
  
</div>



