/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}


.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: rgb(107 84 168) !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(173, 167, 188) !important;
}

.blue-snackbar {
    background: rgb(107 84 168);
    color: white;
}