<div class="card">
  <mat-icon class="heart" style="padding-left: 10px;" [routerLink]="'/favorites'"  [ngStyle]="{'color':'rgb(107 84 168)'}">favorites</mat-icon>
    <img class="card-img-top" [src]="product?.image" alt="Card image cap">
    <div class="flexbox">
      <div class="card-body">
        <h3 class="card-title">{{product?.title}}</h3>
        <p class="card-text">{{product?.price}}ден.</p>
      </div>
      <div class="card-buttons">
          <span title="Додадете во кошничка" *ngIf="!isInCart.value" class="cart material-icons-outlined" (click)="addToCart()"  [ngStyle]="{'color':'rgb(107 84 168)'}">add_shopping_cart</span>
          <span title="Отстранете од кошничка" *ngIf="isInCart.value" class="cart material-icons-outlined" (click)="removeFromCart()"  [ngStyle]="{'color':'rgb(107 84 168)'}">remove_shopping_cart</span>
      </div>
    </div>
</div>