<div class="wrapper fadeInDown">
    <div style="margin-top: -130px;" id="formContent">
      <div class="alert alert-warning" *ngIf='!registerSuccess'>{{errorMessage}}</div>
      <!-- Tabs Titles -->
      <img style="padding-top:20px;padding-bottom:20px;" src="../../assets/LOGOweb.png">
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" [(ngModel)]="username" name="username" placeholder="username">
        <input type="text" id="email" class="fadeIn fourth" [(ngModel)]="email" name="email" placeholder="email">
        <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" name="password" placeholder="password">
        <input type="submit" style="cursor: pointer;" (click)=handleSignUp() class="fadeIn fifth" value="Sign up">
      </form>
  
      <a class="register" [routerLink]="['/login']">Back to Login</a>
    </div>
  </div>